# Built application files
*.apk
*.smali

*.hprof

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle build files
.gradle/
build/
release/

# Local configuration file (sdk path, etc)
local.properties

#intellij project files
*.iml
*.idea
core/src/main/assets/messages/actors/actors - 副本.txt
core/src/main/assets/messages/items/items - 副本.txt
replay_pid14552.log
hs_err_pid14552.log
android/src/google-services.json
android/src/debug/google-services.json
android/google-services.json
google-services.json
desktop/hs_err_pid13892.log
desktop/hs_err_pid17852.log
desktop/hs_err_pid20516.log
desktop/hs_err_pid21216.log
desktop/hs_err_pid21636.log
desktop/hs_err_pid24112.log
desktop/hs_err_pid7460.log
desktop/replay_pid17852.log
desktop/replay_pid21216.log
desktop/replay_pid7460.log
core/src/main/java/com/shatteredpixel/shatteredpixeldungeon/actors/hero/HeroClass$1.smali
core/src/main/java/com/shatteredpixel/shatteredpixeldungeon/levels/ColdChestBossLevel.smali
gradle.properties
android/src/main/java/com/shatteredpixel/shatteredpixeldungeon/services/analytics/AnalyticsImpl.java
android/src/main/java/com/shatteredpixel/shatteredpixeldungeon/services/analytics/AndroidFirebaseService.java
core/src/main/java/com/shatteredpixel/shatteredpixeldungeon/services/analytics/AnalyticsBelongingsData.java
core/src/main/java/com/shatteredpixel/shatteredpixeldungeon/services/analytics/AnalyticsGameData.java
core/src/main/java/com/shatteredpixel/shatteredpixeldungeon/services/analytics/AnalyticsService.java
core/src/main/java/com/shatteredpixel/shatteredpixeldungeon/services/analytics/Analytics.java